%h1 New Entry
= form_for [@project, @entry] do |f|
  - if @entry.errors.any?
    .error_messages
      %h2
        Form is invalid
        %h2
          %ul
            - for message in @entry.errors.full_messages
              %li = message
  %p
    = f.label :title
    = f.text_field :title
  %p
    = f.label :body
    = f.text_area :body
  %p
    = f.submit "Submit", class: "btn btn-primary"
