%p.lead
  Journal is a simple way to document your current projects.
%h1 Log in
= form_tag session_path do
  %p
    = label_tag :email
    = text_field_tag :email, params[:emails]
  %p
    = label_tag :password
    = password_field_tag :password
  %p
    = submit_tag "Submit", class: "btn btn-primary"

%p
  Don't have an account?
  = link_to 'Sign up', sign_up_path
  here.

